<div>
<h1>Items pending rent approval (<%=@pendingitems.count%>)</h1>
<% if @pendingitems.count > 0%>
    <%= render "shared/bookingcard", bookings:@pendingitems%>
<% else %>
<h3>There are currently no items pending booking request.</h3>
<% end%>
</div>


<% if @approveditems.count > 0%>
<div>
<h2>Items approved by owner for rent(<%=@approveditems.count%>)</h2>
<%= render "shared/bookingcard", bookings:@approveditems%>
</div>
<% end %>

<% if @declineditems.count > 0 %>
<div>
<h2>Declined rent requests(<%=@approveditems.count%>)</h2>
<%= render "shared/bookingcard", bookings:@declineditems %>
</div>
<% end %> 


