<div>
<h1>Items pending rent approval (<%=@pendingitems.count%>)</h1>
<% if @pendingitems.count > 0%>
    <%= render "shared/bookingcard", bookings:@pendingitems%>
<% else %>
<p>There are currently no items pending booking request.</p>
<% end%>
</div>

<% if @approveditems.count > 0%>
<div>
<h2>Items approved by owner for rent(<%=@approveditems.count%>)</h2>
<%= render "shared/bookingcard", bookings:@approveditems%>
</div>
<% end %>

<% if @declineditems.count > 0 %>
<div>
<h2>Declined rent requests(<%=@approveditems.count%>)</h2>
<%= render "shared/bookingcard", bookings:@declineditems %>
</div>
<% end %> 

<div>
<h2>Rent-y-FiT on your way(<%=@upcoming.count%>)</h2>
<%= render "shared/bookingcard", bookings:@upcoming %>
</div>

<div>
<h2>FiTs you are Currently Renting(<%=active_orders(@paiditems).count%>)</h2>
<%= render "shared/bookingcard", bookings:active_orders(@paiditems) %>
</div>

<div>
<h2>Past Orders(<%=completed_orders(@paiditems).count%>)</h2>
<%= render "shared/bookingcard", bookings:completed_orders(@paiditems) %>
</div>


