<main class="show-booking-main">
<div class = "container">
  <div class="row">
    <div class="col-7">
      <h2 class='pb-4'>
        <strong><%= @item.name %></strong>
      </h2>

      <p>
        <%= @item.description %>
      </p>

      <p>
        <strong>Listed by:</strong>
        <%= @item.user.username %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= @item.category.name %>
      </p>

      <p>
        <strong>Condition:</strong>
        <%= @item.condition.capitalize %>
      </p><br />
        <%# IF BOOKING HAS BEEN APPROVED USER CAN CONFIRM ORDER BY MAKING PAYMENT %>
        <% if @booking.status == "approved"%>
            <%= render 'proceed_to_pay', booking:@booking, item:@item %>
        <% end %>
    </div>
    <div class="col-6 col-md-5">
      <%# uses helper_method to display uploaded image or logo %>
      <%= image_tag product_image(@item), class:"show-image"%>
  </div>
  </div>
</div>
</main>