<div class="d-flex flex-wrap justify-content-around">
  <%items.each do |item|%>
    <div class="card bg-secondary mb-3 p-2" style="width: 22vw;">
      <div class = "card-image m-auto align-self-center">
      <%# uses helper_method to display uploaded image or logo %>
      <%= image_tag product_image(item), class:"index-image"%>
      </div>
      <div class="card-body mt-2">
        <h5 class="card-title"><%= item.name%></h5>
        <p><strong>Condition:</strong> <%= item.condition.capitalize%></p>
        <p><strong>$</strong><%= price_to_dollars(item.price_per_day) %>/day</p>
        <%= link_to "View FiT", item_path(item), class:"btn bg-white"%>
        <% if item.user_id == current_user.id%>
          <p>Currently Available: <strong><%=item.availability %></strong></p>
          <%= link_to "Switch availability", switch_availability_item_path(item), class:"btn bg-info"%>
        <% end%>
      </div>
    </div>
  <% end %>
</div>