<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <%= link_to "RENT-Y-FiT", root_path, class: "navbar-brand", id: "navlink"%>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "How RENT-Y-FiT Works", about_path, class: "nav-link", id: "navlink"%>
        </li>
        <li class="nav-item">
          <%= link_to "View FiTs", items_path, class: "nav-link", id: "navlink"%>
        </li>
        
        <% if user_signed_in? %>
            <li class="nav-item">
                <%=link_to "Upload your FiT", new_item_path, class: "nav-link", id: "navlink"%>
            </li>

            <li class="nav-item">
                <%=button_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link", id: "navlink" %>
            </li>
        <%else%>
            <li class="nav-item">
                <%=link_to "Log in", new_user_session_path, class: "nav-link", id: "navlink"%>
            </li>

            <li class="nav-item">
                <%=link_to "Sign Up", new_user_registration_path, class: "nav-link", id: "navlink"%>
            </li>

        <%end%>
      </ul>
  </div>
</nav>