
<h1 class="title"> Your Account Information </h1>
<div class="account-container d-flex flex-wrap justify-content-center">
    <div class="child userinfo pb-3 m-3">
        <h3>User Information</h3>
        <p><strong>Username:</strong> <%=@user.username %></p>
        <p><strong>First Name:</strong> <%=@user.first_name%></p>
        <p><strong>Last Name:</strong> <%=@user.last_name%></p>
        <p><strong>Email:</strong> <%= @user.email%></p>
        <%=link_to "Edit User information", edit_user_registration_path, class: "btn btn-warning"%>
    </div>
    <div class="child userinfo pb-3 m-3">
        <h3> Address Information</h3>
        <p><%=@address.street_no%> <%=@address.street%>, </p>
        <p><%=@address.suburb%>, VIC <%=@address.postcode%></p>
        <%= link_to "Edit Address", edit_address_path(@address), class:"btn btn-warning"%>
    </div>

<div>