<p id="notice"><%= notice %></p>

<h1>All FiTs</h1>

<div class="d-flex flex-wrap justify-content-around">
  <%@items.each do |item|%>
    <div class="card bg-secondary mb-3 p-2" style="width: 20vw;">
      <%= image_tag item.picture, class:"card-image" if item.picture.attached?%>
      <div class="card-body">
        <h5 class="card-title"><%= item.name%></h5>
        <p><strong>Condition:</strong> <%= item.condition.capitalize%></p>
        <p><strong>$</strong><%= price_to_dollars(item.price_per_day) %>/day</p>
        <%= link_to "View FiT", item_path(item), class:"btn"%>
      </div>
    </div>
  <% end %>
</div>

