<p id="notice"><%= notice %></p>


<h3>
  <strong><%= @item.name %></strong>
</h3>

<p>
  <%= @item.description %>
</p>

<p>
  <strong>Listed by:</strong>
  <%= @item.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category_id %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @item.condition.capitalize %>
</p>

<% if @item.availability? %>
  <p>Available to Rent</p>
<% end %>


<h5 class="price-show"><strong>$<%= price_to_dollars(@item.price_per_day)%></strong>/day +</h5>
<p class="price-show"> $<%= price_to_dollars(@item.deposit)%> Deposit</p>

<%= image_tag @item.picture, class:"show-image" if @item.picture.attached?%>

<%= link_to 'Edit', edit_item_path(@item), class:"btn bg-warning"%>
<%= link_to 'Back', items_path, class:"btn bg-danger" %>
